// // 1. Abstracts
@use './abstracts/variables';
@use './abstracts/functions';
@use './abstracts/mixins';
@use './abstracts/placeholders';

// // 2. Vendors
@use './vendors/bootstrap';

// // 3. Base
@use './base/typography';
@use './base/base';

// // 4. Layout
@use './layout/navbar';
@use './layout/footer';

// // 5. Pages
@use './pages/welcome';
@use './pages/home';
@use './pages/gallery';
@use './pages/mayc';
@use './pages/kennel';

// 6. Components
@use './components/buttons';