.navbar {
    position:relative;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    padding:.5rem 1rem;
}

#nav {
    background-color:#000;
    max-width:1200px;
    margin:auto;
}

.navbar-brand {
    display:inline-block;
    padding-top:.3125rem;
    padding-bottom:.3125rem;
    margin-right:1rem;
    font-size:1.25rem;
    line-height:inherit;
    white-space:nowrap;
}

.bayc-brand {
    display:inline-block;
    vertical-align:top;
    width:auto;
    height:75px;
}

.navbar-toggler {
    padding:.25rem .75rem;
    font-size:1.25rem;
    line-height:1;
    background-color:transparent;
    border:1px solid transparent;
    border-radius:.25rem;
}

.navbar-toggler-icon {
    display:inline-block;
    width:1.5em;
    height:1.5em;
    vertical-align:middle;
    background-image:url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='30'%20height='30'%20viewBox='0%200%2030%2030'%3E%3Cpath%20stroke='rgba(255,%20255,%20255,%200.5)'%20stroke-linecap='round'%20stroke-miterlimit='10'%20stroke-width='2'%20d='M4%207h22M4%2015h22M4%2023h22'/%3E%3C/svg%3E");
}

.navbar-input {
    display:none;
}

.navbar-nav {
    display:none;
}

.navbar-input:checked + .navbar-nav {
    display:flex;
    flex-direction:column;
    padding-left:0;
    margin-bottom:0;
    list-style:none;
    flex-grow: 1;
    flex-basis: 100%;
}

.nav-link {
    display:block;
    padding:.5rem 0rem;
    color:#fff;
    font-size:8px;
    font-style:italic;
    font-weight:500;
    letter-spacing:1.2px;
    caret-color:transparent;
    text-decoration: none;
    text-align:end;
    transition:.15s;

    &:hover {
        text-decoration:none;
        color:#bfc500;
    }
}

label p {
    margin:0;
}

.members {
    cursor:pointer;
}

.members::after {
    display:inline-block;
    margin-left:.255em;
    vertical-align:.255em;
    content:"";
    border-top:.3em solid;
    border-right:.3em solid transparent;
    border-bottom:0;
    border-left:.3em solid transparent;
}

.members-input {
    display:none;
}

.dropdown-menu {
    display:none;
}

.members-input:checked + .dropdown-menu {
    display:block;
    padding-right:20px;
    
    .dropdown-link {
        padding:8px;
    }
}

.nav-social {
    display:none;
}

@media (min-width:768px) {
    .navbar {
        flex-flow:row nowrap;
        justify-content:flex-start;
    }

    .navbar-toggler {
        display:none;
    }

    .navbar-nav {
        display:flex;
        flex-direction:row;
        padding-left:0;
        margin-bottom:0;
        list-style:none;
        flex-grow:1;
        flex-basis:auto;
        align-items:center;
    }

    .nav-link {
        padding:.5rem .5rem;
    }

    .members-input:checked + .dropdown-menu {
        position:absolute;
        z-index:1;
        float:none;
        display:block;
        width:160px;
        padding-right:20px;
        background-color:black;
        top: 66px;
        right:calc(100% - 768px + 41.5px);
        
        .dropdown-link {
            padding:8px;
        }
    }

    .nav-social {
        display:none;
    }

    .navbar-input:checked + .navbar-nav {
        display:flex;
        flex-direction:row;
        padding-left:0;
        margin-bottom:0;
        list-style:none;
        flex-grow:1;
        flex-basis:auto;
        align-items:center;

        .nav-link {
            padding:.5rem .5rem;
        }
    
        .members-input:checked + .dropdown-menu {
            position:absolute;
            float:none;
            display:block;
            width:160px;
            padding-right:20px;
            background-color:black;
            top: 66px;
            right:calc(100% - 768px + 41.5px);
            
            .dropdown-link {
                padding:8px;
            }
        }
    
        .nav-social {
            display:none;
        }
    }
}

@media (min-width:992px) {
    #nav {
        padding-left:2rem;
        padding-right:2rem;
    }

    .navbar-nav {
        width:100%;
        justify-content:flex-end;
    }

    .nav-link {
        margin:10px;
    }

    .members-input:checked + .dropdown-menu {
        position:absolute;
        float:none;
        display:block;
        width:160px;
        padding-right:0;
        background-color:black;
        top:66px;
        right:133px;
        
        .dropdown-link {
            width:max-content;
            padding:0 8px 0px 8px;
        }
    }

    .nav-social {
        display:flex;
        flex-direction:row;
        margin-left:10px;
        margin-right:20px;
        width:max-content;
    }

    .social-icon-nav {
        color:white;
        padding:20px;
        padding-right:0;
    }

    .navbar-input:checked + .navbar-nav {
        width:100%;
        justify-content:flex-end;

        .nav-link {
            margin:10px;
        }
    
        .members-input:checked + .dropdown-menu {
            position:absolute;
            float:none;
            display:block;
            width:160px;
            padding-right:0;
            background-color:black;
            top:66px;
            right:133px;
            
            .dropdown-link {
                width:max-content;
                padding:0 8px 0px 8px;
            }
        }
    
        .nav-social {
            display:flex;
            flex-direction:row;
            margin-left:10px;
            margin-right:20px;
            width:max-content;
        }
    
        .social-icon-nav {
            color:white;
            padding:20px;
            padding-right:0;
        }
    }
}