.sw {
    transform:rotate(45deg);
}

.se {
    transform:rotate(-45deg);
}

@media (min-width:992px) {
    .sw {
        transform:rotate(90deg);
    }

    .se {
        transform:rotate(-90deg);
    }
}

.m_scroll_arrows_down {
    display:block;
    width:5px;
    height:5px;
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
    margin:0 0 3px 4px;
    width:16px;
    height:16px;
}

.m_scroll_arrows_up {
    display:block;
    width:5px;
    height:5px;
    -ms-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    transform:rotate(-135deg);
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
    margin:0 0 3px 4px;
    width:16px;
    height:16px;
}

.first {
    margin-top:1px;
}

.first,
.second,
.third {
    -webkit-animation:mouse-scroll 1s infinite;
    -moz-animation:mouse-scroll 1s infinite;
    animation:mouse-scroll 1s infinite;
}

.first {
    -webkit-animation-delay:.1s;
    -moz-animation-delay:.1s;
    -webkit-animation-direction:alternate;
    animation-direction:alternate;
    animation-delay:alternate;
}

.second {
    -webkit-animation-delay:.2s;
    -moz-animation-delay:.2s;
    -webkit-animation-direction:alternate;
    animation-delay:.2s;
    animation-direction:alternate;
    margin-top:-6px;
}

.third {
    -webkit-animation-delay:.3s;
    -moz-animation-delay:.3s;
    -webkit-animation-direction:alternate;
    animation-delay:.3s;
    animation-direction:alternate;
    margin-top:-6px;
}